$prim-font-stack:		'Roboto', 'Helvetica Neue', Arial, sans-serif; /*Georgia, serif;*/
$sec-font-stack:		'Roboto', 'Open Sans', Inconsolata, arial, sans-serif;
$line-height:       1.6;
$header-bg-color: 	#fbfbfb;
$link-color:				#65C7FD;
$grey:							#7b7c7c;
$border: 						1px solid #ddd;
$less-padding:			1em;
$padding:						2em;
$extra-padding:			4em;
$green:							rgba(104, 166, 52, .95);
$white:							#f4f4f4;
$blue:							#08c;

.border {
  border: $border;
}
.margin-top {
  margin-top: 1em;
}
.less-padding-top {
  padding-top: $less-padding !important;
}
.less-padding-bottom {
  padding-bottom: $less-padding !important;
}
.padding-top, .space-top {
  padding-top: $padding !important;
}
.padding-right, .space-right {
  padding-right: $padding !important;
}
.padding-bottom, .space-bottom {
  padding-bottom: $padding !important;
}
.padding-left, .space-left {
  padding-left: $padding !important;
}
.more-padding-top, .extra-space-top {
  padding-top: $extra-padding;
}
.more-padding-right, .extra-space-right {
  padding-right: $extra-padding;
}
.more-padding-bottom, .extra-space-bottom {
  padding-bottom: $extra-padding;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1111px;
}
.leading {
  font-size: 2.1em;
  line-height: 1.5;
  max-width: 60%;
  display: block;
}
.justify {
  text-align: justify;
}
.block {
  display: block;
}
.float-center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.align-center { text-align: center; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.pull-left    { float: left; }
.pull-right   { float: right; }
.uppercase	  { text-transform: uppercase; }
.bold					{ font-weight: bold;}

/* Buttons */

.border-buttom {
  border: 1px solid #65c7fd;
  text-decoration: none;
  padding: 9px 18px;
  text-decoration: none;
  border-radius: 30px;
}

.call-to-action {
  display: inline-block;
  margin: $padding $padding;
  padding: 1em $padding;
  border: 2px solid #fafafa;
  text-decoration: none;
  border-radius: 25px;
}
.call-to-action:hover {
  padding: 1em 2em;
  border: 2px solid $green;
}
.green {
  background-color: $green;
  color: $white;
}
.grey {
  color: $grey;
}