/*
 * Mediaqueries
 */
@media screen and (max-width: 534px) {
  h1 {
    font-size: 3.6em !important;
    margin: 0 .5em;
  }
  h2 {
    font-size: 29px;
  }
  .content {
    width: 100%;
  }
  .more-margin-top {
    margin-top: 0;
  }
  .grid .half, 
  .grid .w-1-2,
  .grid .unit{
    width: 100% !important;
  }
  .unit img {
    width: 66%;
  }
  nav img.logo {
    float: left;
    width: 40%;
    margin-left: .5em;
  }
  nav ul {
    display: none;
  }
  nav .menu-toggle {
    display: block;
  }
  .header h1 {
    padding-top: 0px;
  }
  .header h2.margin-bottom {
    margin: 0;
  }
  .header .picture {
    width: 280px;
  }
  .web-dev img,
  .web-dev .tech-logos {
    display: none;
  }
  .shopify .leading {
    max-width: 90%;
  }
  .portfolio h2,
  .portfolio h3,
  .portfolio a {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 1023px) {
  h1 {
    font-size: 4.8em;
  }
  h2 {
    font-size: 29px;
  }
  .grid .unit {
    padding-left: 20px;
    padding-right: 20px;
  }
  .unit .grid .unit {
    padding-left: 0px;
    padding-right: 0px;
  }
  .align-right {
    text-align: left;
  }
  .portfolio img {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .shopify .one-third {
    float: none;
    width: 100%;
  }
  .shopify ul {
    min-height: 0;
  }
  .shopify li {
    text-align: center;
    list-style-position: inside;
  }
  .shopify .border {
    border: none;
  }
  #nav { 
    height: 112px;
  }
  header h1 {
    padding-top: 112px;
  }
}
@media screen and (min-width: 1025px) {
  h1 {
    font-size: 6.8em;
  }
  h2 {
    font-size: 4.8em;
  }
  nav img.logo {
    float: left;
  }
  nav ul {
    width: initial;
    float: right;
    margin: 0 -10px 0 0;
  }
  nav li {
    vertical-align: middle;
    float: left;
    width: initial;
  }
  nav li a {

  }
  #services {
    margin: 2em auto;
    > div {
      > p {
        font-size: 1.8em;
      }
    }
  }
}
@media screen and (min-width: 72em) {
  h1 {
    font-size: 7.2em;
  }
  h2 {
    font-size: 4.8em;
  }
  h3 {
    font-size: 2.7em;
  }
}
@media screen and (min-width: 92em) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 48px;
  }
}