nav {
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index:2;
  line-height: 50px;
  transition: background-color .5s linear;
}
nav.fixed {
  background: $light-yellow;
  background: rgba(251, 249, 244, 0.98);
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}
nav .content {
  padding-top: 1em;
}
nav img.logo {
  margin: 0 auto;
  display: block;
}
nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}
nav li {
  list-style: none;
  float: left;
  width: 25%;
  text-align: center;
}
nav a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 300;
  padding: 10px;
  border-radius: 3px;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: background .5s ease;
     -moz-transition: background .5s ease;
      -ms-transition: background .5s ease;
       -o-transition: background .5s ease;
          transition: background .5s ease;
}
