.quotes {
  min-height: 160px;
}
blockquote {
    opacity: 1;
    position: absolute;
    transition: all 2s;
    width: 90%;
}
blockquote.t {
    opacity: 0;
}
blockquote span {
  height: 48px;
}
blockquote i {
  line-height: 48px;
  vertical-align: top;
}
blockquote img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1em;
}
.quote-progress {
    /*background: #00edc2;*/
    background: #F5F2EA;
    height: 3px;
    width: 100%;
    display: block;
    animation: progress 15s infinite;
}
@keyframes progress {
    from { width: 0%; }
    to { width: 100%; }
}

