#services {
  width: 100%;
  text-align: center;
  .img-wrapper {
    height: 100px;
  }
  img {
    display: block;
    max-width: 80px;
    margin: 3em auto;
  }
   p {
    color: #7b7c7c;
  }
}
.services h2 {
  padding: 2em 0 1em;
  font-size: 3.1em;
}
.services ul {
  margin-top: 2em;
  margin-bottom: 3em;
}
.services li {
  text-align: center;
  list-style: none;
  font-size: 1.8em;
  color: #666;
  line-height: 1.8;
  font-style: italic;
}
.design {
  min-height: 100px;
}
