.shopify .head {
//  background-color: $blue;
//  color: $white;
  padding: $padding 0;
  border-bottom: 1px solid #ddd;
}
.shopify img {
  width: 300px;
}
.shopify .border {
  border-top: none;
  border-bottom: none;
}
.shopify ul {
  min-height: 250px;
}
.shopify li {
  list-style: none;
  padding: .5em 1.5em;
  font-size: 1.6em;
}
.shopify .one-third {
  float: left;
  width: 33%;
}