.shopify .head {
  background-color: $blue;
  color: $white;
  padding: $padding 0;
}
.shopify .border {
  height: 100%;
}
.shopify li {
  list-style-position: inside;
  padding: .5em 1em;
  font-size: 1.6em;
}
.shopify .one-third {
  float: left;
  width: 33%;
  height: 480px;
}
