.shopify .head {
//  background-color: $blue;
//  color: $white;
  padding: $padding 0;
  border-bottom: 1px solid #ddd;
}
.shopify img {
  width: 300px;
}
.shopify .border {
  border-top: none;
  border-bottom: none;
}
.shopify ul {
  min-height: 250px;
}
.shopify li {
  list-style-image: url(./img/tick-green.svg);
  padding-top: 1em;
  margin-left: -8px;
  font-size: 1.6em;
  text-align: center;
  list-style-position: inside;
}
.shopify .one-third {
  float: left;
  width: 33%;
}