nav {
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index:2;
  line-height: 50px;
  transition: background-color .3s linear;
}
nav.fixed, .headroom--not-top {
  background: $light-yellow;
  background: rgba(254, 254, 254, 0.98);
  border-bottom: 1px solid $grey;
//  transition: background-color .3s linear;
}
nav .content {
  padding-top: 1em;
}
nav img.logo {
  margin: 0 auto;
  display: block;
}
nav #menu-toggle {
  display: none;
  float: right;
  margin-top: -3px;
  margin-right: 1.5em;
}
nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}
nav li {
  list-style: none;
  float: left;
  width: 25%;
  text-align: center;
}
nav li#close {
  display:none;
}
nav a {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: background .5s ease;
}
.headroom {
    transition: all 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}