.the-team {
/*  background-color: #E1E9EA;
  */
  background: $header-bg-color url('../img/stockholm-white.jpg') no-repeat center center;
  background-size: cover
}
.the-team img {
  width: 17em;
  height: auto;
  border-radius: 50%;
  padding: 5px;
  background-color: #fff;
}
